body {
  background-color: @body-color !important;
}

.app-wrapper {
  max-width: 1280px;
  width: 1000%;
  margin: 0px auto;
  height: 100vh;
  .loading-warp {
    text-align: center;
  }
}

.main-wrapper {
  display: flex;
  min-height: calc(100vh - 192px);
  .main-com {
    background-color: @white-color;
    margin-left: 20px;
    flex: 1;
  }
  .main-mens {
    background-color: @white-color;
  }
  .main-page-warp {
    padding: 20px 30px;
    margin-top: 20px;
    background-color: @white-color;
  }
  .main-page-table-form {
    margin-bottom: 30px;
  }
}

.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.in-flex-c{
  display: inline-flex;
  align-items: center;
}
.m-l-10{
  margin-left: 10px;
}
.m-l-20{
  margin-left: 20px;
}
.m-r-10{
  margin-right: 10px;
}
.pointer{
  cursor: pointer;
}

.inline{
  display: inline-block;
}
.back-contain{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}